EDMT_API_BASE=https://api.edmt.io
RPC_URL=https://ethereum-rpc.publicnode.com
RPC_URLS=https://ethereum-rpc.publicnode.com,https://eth.llamarpc.com,https://eth.drpc.org
PRIVATE_KEY=
SCAN_LIMIT=100
MAX_TX=1
MIN_BURN_GWEI=0
GAS_MULTIPLIER=1.15
